*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
}

.hungerbar {
  width: 30%;
  height: 5vh;
  background-color: green;
}
.happiness,
.energy,
.hunger {
  border: 2px solid black;
  height: 5vh;
  width: 90%;
  margin-inline: auto;
  margin: 10px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  background-color: beige;
  font-family: "Pixelify Sans", sans-serif;
}
fieldset {
  background-color: aliceblue;
}
button {
  background-color: rgb(10, 68, 194);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
}
.btn {
  display: flex;
  justify-content: space-around;
}
button:hover {
  background-color: seagreen;
}
